<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">+ Salud</a>
    </div>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="#"><i class="fa fa-home fa-fw"></i> Menú</a></li>
    </ul>

    <ul class="nav navbar-right navbar-top-links">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> ifrit <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/users/profile"><i class="fa fa-user fa-fw"></i> Perfil</a>
                </li>
                <li><a href="/users/config"><i class="fa fa-gear fa-fw"></i> Cofiguraciones</a>
                </li>
                <li class="divider"></li>
                <li><a href="/users/logout"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/" class="active"><i class="fa fa-ambulance fa-fw"></i> Farmacias municipales</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-shopping-cart fa-fw"></i>Ventas<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/ventas/agregarVenta">Registrar Venta</a>
                        </li>
                        <li>
                            <a href="/ventas/listarVentas">Listar Ventas</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-usd fa-fw"></i>Precios<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/listaPrecios/agregarPrecio">Registrar Precio</a>
                        </li>
                        <li>
                            <a href="/listaPrecios/listarPrecios">Listar Precios</a>
                        </li>              
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i>Gestión Personas<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/clientes/agregarCliente" class="done">Registrar Cliente</a>
                        </li>
                        <li>
                            <a href="/quimicos/agregarQuimicoFarm" class="done">Registrar Químico</a>
                        </li>
                        <li>
                            <a href="/medicos/agregarMedico">Registrar Médico</a>
                        </li>
                        <li>
                            <a href="/clientes/listarClientes" class="done">Listar Clientes</a>
                        </li>
                        <li>
                            <a href="/quimicos/listarQuimicos">Listar Químicos</a>
                        </li>
                        <li>
                            <a href="/medicos/listarMedicos">Listar Médicos</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-medkit fa-fw"></i> Medicamentos<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/medicamentos/agregarMedicamento"> Registrar Medicamento</a>
                        </li>
                        <li>
                            <a href="/medicamentos/listarMedicamentos"> Listar Medicamentos</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-archive fa-fw"></i> Proveedores<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/proveedores/agregarProveedor"> Registrar Proveedor</a>
                        </li>
                        <li>
                            <a href="/proveedores/listarProveedores"> Listar Proveedores</a>
                        </li>
                        <li>
                            <a href="/proveedores/agregarStock"> Registrar Stock</a>
                        </li>
                        <li>
                            <a href="/proveedores/listarStock"> Listar Stock</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-hospital-o fa-fw"></i> Sucursales<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/sucursales/agregarSucur"> Registrar Sucursal</a>
                        </li>
                        <li>
                            <a href="/sucursales/listarSucur"> Listar Sucursal</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /input-group -->
        </ul>
    </div>
</nav>

-->