<nav class="w3-sidenav w3-light-grey w3-card-2" style="width:160px;">
  <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link</a>				
  <div class="w3-accordion">
    <a onclick="myAccFunc()" href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">
      Accordion <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-accordion-content w3-white w3-card-4">
      <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link 1</a>
      <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link 2</a>
      <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link 3</a>
    </div>
  </div>
  <div class="w3-dropdown-click">
    <a onclick="myDropFunc()" href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">
      Dropdown <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoDrop" class="w3-dropdown-content w3-white w3-card-4">
      <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link 1</a>
      <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link 2</a>
      <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link 3</a>
    </div>
  </div>
  <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link</a>		
  <a href="tryit.asp-filename=tryw3css_accordion_sidenav.html#">Link</a>
</nav>