<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>ERROR</h1>
                <p>Lo sentimos :-{ se han caido los servidores de San Isidro 639</p>
                <p><a class="btn btn-primary btn-lg" role="button">Notificar de fallo</a>
                </p>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->